.top-head-content {
  margin-block: 40px;
}

.formStep-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  margin: 0 0 30px;
  background: #fff;
  z-index: 0;
}

.formStep-container .step {
  --sepWidth: 40%;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: var(--red);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formStep-container .step:before {
  content: "";
  position: absolute;
  width: var(--sepWidth);
  height: 5px;
  background: var(--red);
  z-index: -1;
  border-radius: 10px;
}

.fw-500 {
  font-weight: 600;
}
.txt-cap {
  text-transform: capitalize;
}

.formStep-container .step:after {
  position: absolute;
  top: 53px;
  font-weight: 600;
}

.formStep-container #step1-indicator:after {
  content: "Client Details";
}
.formStep-container #step2-indicator:after {
  content: "Add-On";
}
.formStep-container #step3-indicator:after {
  content: "Payment Details";
}

.step.active {
  background: var(--secondry-color);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.formStep-container .step.active:before {
  background: var(--secondry-color);
}

.step :is(svg, svg path) {
  fill: #fff;
}

.align-items-start {
  align-items: flex-start !important;
}

input[type="radio"],
input[type="checkbox"] {
  width: unset !important;
}

.step-form {
  box-shadow: unset !important;
  height: unset !important;
}

.step-form select,
.step-form input {
  border: 1px solid #c9c9c9;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
}
.step-form select {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.step-form select option {
  line-height: normal;
}

.top-head-content table {
  margin: 20px 0 !important;
  border: 1px solid #c9c9c9 !important;
}

button {
  border: none;
  outline: none;
}
.error-message {
  color: red;
  font-size: 13px;
}

.gap-20 {
  gap: 20px;
}
.mt-5 {
  margin-top: 5px;
}
.pb-25 {
  padding-bottom: 25px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-0 {
  margin-bottom: 0 !important;
}

.row-gap-25 {
  row-gap: 25px;
}

.row-gap-20 {
  row-gap: 20px;
}

.hide {
  display: none !important;
}

.show {
  display: block;
}
.rotate-180 {
  rotate: 180deg;
}
.phone-group {
  display: flex;
  border: 1px solid #c9c9c9;
  margin: 10px 0;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  font-family: sans-serif;
}

.phone-group select,
.phone-group input {
  border: none;
  outline: none;
  width: fit-content;
}

.phone-group select {
  width: fit-content;
  margin: 0;
  background-color: #e4f2f2;
  border-radius: 0;
}

.phone-group input {
  flex: 1;
  margin: 0;
}
.phone-group input:focus {
  border: none !important;
}

.phone-group:focus-within,
.contact-p select:focus {
  border-bottom: 1px solid var(--secondry-color) !important;
  outline: unset;
  transition: all 0.5s;
}

.read-btn.submit-btn {
  margin-top: 0;
  margin-bottom: 0;
}

.gap-40 {
  gap: 40px;
}
label {
  font-weight: 600;
}

.m-0 {
  margin: 0 !important;
}

@media screen and (max-width: 576px) {
  .formStep-container .step:after {
    font-size: 14px;
  }
  .d-flex:has(.total) {
    flex-direction: column;
    gap: 30px;
  }
  .total {
    order: 1;
  }
  .read-btn.submit-btn {
    order: 2;
  }
}
